<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Injection" verbose="1" parallel="false" thread-count="1">

    <parameter name="foo" value="bar"/>

    <test name="unit">
        <classes>
            <class name="org.duderino.injection.jmockit.basic.Y2KCheckerTest"/>
            <class name="org.duderino.injection.jmockit._1.ClassTest"/>
            <class name="org.duderino.injection.jmockit._2.ClassTest"/>
            <class name="org.duderino.injection.jmockit._2.ClassTestAlternative"/>
            <class name="org.duderino.injection.jmockit._3.ClassTest"/>
            <class name="org.duderino.injection.jmockit._4.ClassTest"/>
            <!-- Does not work <class name="org.duderino.injection.jmockit._5.ClassTest"/> -->
            <!-- Does not work <class name="org.duderino.injection.jmockit._6.ClassTest"/> -->
            <class name="org.duderino.injection.jmockit._7.ClassTest"/>
            <class name="org.duderino.injection.jmockit._8.ClassTest"/>
            <class name="org.duderino.injection.jmockit._10.ClassTest"/>
            <class name="org.duderino.injection.jmockit._11.ClassTest"/>
            <!-- Does not work <class name="org.duderino.injection.jmockit._12.ClassTest"/> -->
            <class name="org.duderino.injection.jmockit._13.ClassTest"/>
            <!-- Does not work <class name="org.duderino.injection.jmockit._13.ConfigurationTest"/> -->
            <class name="org.duderino.injection.jmockit._14.ClassTest"/>
            <class name="org.duderino.injection.jmockit._15.ClassTest"/>
            <class name="org.duderino.injection.jmockit._16.ClassTest"/>
            <!-- Does not work <class name="org.duderino.injection.jmockit._17.ClassTest"/> -->
            <!--<class name="org.duderino.injection.jmockit.MusicianDatabaseTest"/>
            <class name="org.duderino.injection.jmockit.XmlFetcherTest"/>
            <class name="org.duderino.injection.jmockit.SharedQueueTest"/> -->
        </classes>
    </test>

</suite>

