<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Injection" verbose="1" parallel="false" thread-count="1">

    <parameter name="foo" value="bar"/>

    <test name="unit">
        <classes>
            <class name="org.duderino.injection.jmockit.MusicianDatabaseTest"/>
            <class name="org.duderino.injection.jmockit.XmlFetcherTest"/>
            <class name="org.duderino.injection.jmockit.SharedQueueTest"/>
        </classes>
    </test>

</suite>

